body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f7f6;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0056b3;
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #d1e7dd;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.logout-btn {
    background: white;
    color: #0056b3;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    width: 350px;
}

h2 {
    margin-top: 0;
    color: #0056b3;
}

input,
.form-select {
    display: block;
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

.records-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.records-table th,
.records-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.records-table th {
    background-color: #007bff;
    color: white;
}

.admin-panel {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 600px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.user-card {
    background: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #007bff;
}

.btn-delete {
    background: #dc3545;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: auto;
    font-size: 14px;
}

.spa-section {
    display: none; 
}
.spa-section.active {
    display: block; 
}